@import url("https://fonts.googleapis.com/css?family=Montserrat:100&display=swap");
$primary-color: orange;

body {
  padding: 0px;
  margin: 0px;
}

header {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 68px;
  max-width: 100%;
  height: 100%;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.btn {
  border: solid 2px $primary-color;
  border-radius: 5px;
  min-width: 125px;
  max-width: 320px;
  max-height: 48px;
  min-height: 48px;
  text-align: center;
}

.header__logo {
  max-width: 155px;
  flex-grow: 1;
}

.header__phone {
  display: flex;
  align-items: center;

  svg {
    margin-right: 2px;
  }

  div {
    position: relative;
    margin-right: 13px;

    a {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  button {
    display: inline-block;
    font-size: 14px;
    line-height: 1.92;
    letter-spacing: 0.8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    padding-top: 10px;
  }
}

.complex__general {
  position: relative;
  background-image: url("/images/general_img.webp");
  background-position: center center;
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 0;
  color: white;

  > div {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
  }

  &:after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.general__main {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.general__txt {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding-right: 140px;
  min-height: 290px;
}

.general__title {
  font-family: CormorantGaramond;
  font-size: 36px;
  line-height: 1.03;
  text-align: left;
  color: #f6f7fc;
  font-weight: 500;
  margin-top: 5px;
  position: relative;
  margin-bottom: 25px;
}

.general__type {
  margin-top: 40px;
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 2.08;
  letter-spacing: 1.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin-top: 35px;
  font-family: Museo;
}

.general__anons {
  font-family: CormorantGaramond;
  font-size: 18px;
  font-style: italic;
  line-height: 1.22;
  text-align: left;
  margin-top: 30px;
  max-width: 350px;
  position: relative;
}

.general__info {
  margin-top: 70px;
  max-width: 250px;
  width: 30%;
}

.general__count {
  margin-top: 20px;
}

.general__count {
  display: block;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  white-space: nowrap;
}

.count__result {
  display: block;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
  white-space: nowrap;
}

.count__title {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.general__delivered {
  display: inline-block;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
}

.text-primary {
  color: $primary-color;
}

.general__btn-wrapper {
  margin-top: 25px;
  text-align: right;
}

.general__btn {
  display: inline-block;
  margin: 0 auto;
  color: white;
  margin-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
  width: 100%;
  max-width: 250px;
  padding: 16px 10px;
  min-height: 0px;
  text-decoration: none;
}

.general__download-btn {
  float: left;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  background-color: $primary-color;
}

.general__download-descr {
  font-weight: 300;
  line-height: 1.3;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
}

.general__social {
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.social__title {
  display: flex;
  font-size: 12px;
  font-weight: 300;
  line-height: 2.23;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.social__list {
  display: flex;
  margin-left: 20px;
  align-items: center;

  a {
    margin-right: 20px;
  }
}

.social__item {
  path {
    fill: $primary-color;
  }
}

#flats {
  padding: 20px 0px;
  width: 100%;
  background-color: #f6f7fc;
}

.flats__wrapper {
  max-width: 1600px;
  margin: 0px 100px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.flat__item {
  font-family: "Montserrat", sans-serif;
  margin: 0px 15px;
}

.flat__title {
  font-size: 40px;
  letter-spacing: 14.4px;
}

.flat__title-lg {
  font-size: 120px;
  font-weight: 300;
}

.flat__txt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.flat__image-wrapper {
  margin-top: 24px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  background-color: white;
}

.flat__image {
  height: 150px;
  width: auto;
}

#complex-form {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  background-color: #00c9ce;
  color: white;
}

.feedback-form__title {
  margin-bottom: 35px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-align: left;
  width: 230px;
  color: #008c8c;
}

.feedback-form__text {
  font-size: 40px;
  line-height: 1.32;
  font-weight: 200;
  text-align: left;
}

.input__field {
  max-width: 300px;
  min-width: 126px;
  font-size: 30px;
  border-bottom-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  background-color: #00c9ce;

  &::placeholder {
    color: #008c8c;
  }
}

.feedback-form__wrapper {
  max-width: 75%;
}

.feedback-from__agreement {
  margin-top: 30px;
}

.input__label-checkbox {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
}

.feedback-form__btn {
  margin-top: 70px;
  width: 250px;
  padding: 16px 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

footer {
  padding: 60px 96px;
  background-color: black;
  display: flex;
}

.footer__phone {
  font-size: 30px;
  color: white;
}

.footer__social {
  margin-top: 20px;
}

.footer__social-item {
  margin-right: 20px;
}

.footer__menu {
  margin-top: 30px;
  margin-left: auto;
  display: flex;
}

.menu-list__item {
  margin-right: 40px;
  font-size: 16px;
}

.menu-list__link {
  color: white;
  text-decoration: none;
}
